/* -- Card Game CSS -- */
body{
    font-family: var(--ibmplex);
   
}
.card-bg{
 background-color: var(--darkgreen); 
   background-image: url('/static/images/cardbg1.png');
   background-repeat: no-repeat;
   background-position: center;
   clip-path: polygon(0 0, 100% 0, 100% 96%, 54% 100%, 50% 100%, 0 95%);
    position: relative;
    width: 100%;
    padding-bottom: 50px;
    width:100%;
    margin-top: 6rem!important;
}
.question-card {
     background-color: #fff;
    background-image: linear-gradient(315deg, #fafafa 0%, #e4fce1 74%);
    background-color: transparent;
    border-radius: 8px;
    width: 540px;
    height: 650px;
    margin-left: auto;
   margin-right: auto;
   perspective: 1000;
   position: relative;
}
  
.question-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: 0.6s;
    transform-origin: 50% 50%;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(69, 235, 9, 0.2);
  }
  
  .question-card.flipped .question-card-inner {
    transform: rotateY(180deg);  
  }
  
  .question-card-front, 
  .question-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* -webkit-backface-visibility: hidden;*/
    backface-visibility: hidden;
  }
  
  .question-card-back {
    transform: rotateY(180deg);
    background-image: linear-gradient(315deg, #fafafa 0%, #e4fce1 74%);
    box-shadow: 0 0 20px 2px #201d1d;
    border-radius: 8px;
    padding: 7rem;
  }
  
  .question-card-front-image {
      width:540px;
      height:670px;
  }
  
  .question-words {
      margin-top: 2rem;
      padding-top: 2rem;
  }
  
  .btn-grid {
      display: grid;
      grid-template-columns: repeat(1, auto);
      gap: 10px;
      margin: 20px 5px;
  }
  
  .question-btn.btn {
      border-radius: 30px;
      padding: 1rem 3rem;
      color: #000000;
      outline: none;
      border-color: #000000;
      font-size: 1.5rem;
  }
  
  .question-words {
      padding-top: 2rem;
      padding-left: 1rem;
      padding-right: 1rem;
      font-size: 1.5rem;
  }
  
  .btn.wrong {
      background-color: rgb(190, 2, 2);
      color: #f1f1f1ce;
      border: 1px solid rgb(190, 2, 2);
  }
  
  .btn.correct {
      background-color: darkgreen;
      border: 1px solid darkgreen;
      color: white;
  }
  
  /* .question-card-front.side {
      z-index: -1;
  } */
  
  .question-card-front.side.left {
      text-align: right;
  }
  
  .question-card-front-image.side {
      height: 75%;
      width: auto;
  }
  
  .hide {
      display: none;
  }
  
  .drinks-count,
  #drinks-score {
      color: rgb(240, 23, 23);
      font-family: var(--ibmplex);
  }
  .answer-count{
      color:white;
  }
  .counter-container {
      background-color: #fafafa;
  }
  

    /*media queries*/
@media (max-width: 1025px){

  .question-card-back {
      margin: auto auto;
      position: relative;
      max-width: 100%;
      height: auto;
  }
}
@media (max-width: 541px){
    
  .question-card-back {
      margin: auto auto;
      position: relative;
      max-width: 45%;
      height: auto;
  }
}
@media (max-width: 415px){
    
  .question-card-back {
      margin: auto auto;
      position: relative;
      max-width: 45%;
      height: auto;
      left: 60px;
  }
}

@media (max-width: 376px){
 
  .question-card-back {
      margin: auto auto;
      position: relative;
      max-width: 45%;
      height: auto;
      left: 100px;
  }
}
@media (max-width: 360px){

  .question-card-back {
      margin: auto auto;
      position: relative;
      max-width: 45%;
      height: auto;
      left: 110px;
  }
  .question-container{
      max-width: 360px;
  }
}

@media (max-width: 320px){
  
    .question-card-back {
      margin: auto auto;
      position: relative;
      max-width: 45%;
      height: auto;
      left: 110px;
  }
}
@media (max-width: 281px){
 
    .question-card-back {
      margin: auto auto;
      position: relative;
      max-width: 25%;
      height: auto;
      text-align: center;
      margin-right: 150px;
  }
}

@media (min-width: 321px) {
  html {
    font-size: calc(10px + 6 * ((100vw - 320px) / 680));
  
}
@media (min-width: 1000px) {
  html {
    font-size: 15px;
  }
}

@media (max-width:768px){
    
    h1 {
        font-size: 1.7rem;
        font-weight: 900;
        line-height: 1.5rem;
        letter-spacing: 0.01rem;
    

    }

    h2 {
        font-size: 1.6rem;
        font-weight: 900;
        line-height: 1.5rem;
        letter-spacing: 0.01rem;
    }

}
