:root {
        --dark:#000;
        --white:#fff;
        --light:#ADAB9C;
        --green:#77913B;
        --darkgreen:#1C3A13;
        --bg-color:#f1f1f1;
        --yellow:#FFB300;
        --orange:#FF6C03;
        --gradient:linear-gradient(to bottom right, #f1ba93, #d8e9d8);
        --abrilfatface: 'Abril Fatface', cursive;
        --ibmplex: 'IBM Plex Serif', serif;
        --montserrat: 'Montserrat', sans-serif;
        --ubuntu: 'Ubuntu Condensed', sans-serif;
}
html{
    scroll-behavior: smooth;
}
/* -------------------------------contact section----------------------------- */
/* global styles*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--ibmplex); 
    color: #000;
    
    
}
section #contact{
    width:100%;
    height:auto;
    margin-top: 200px;
}
.contact-heading{
    font-family: var(--abrilfatface);
    color:var(--white);
    font-size: 7rem;
    z-index: 999;
    font-weight: 400;
    letter-spacing: 0.1rem;
    padding-top: 50px;
    
}
.contact-bg{
    background-color: var(--darkgreen); 
   background-image: url('/static/images/contact.png');
   background-repeat: no-repeat;
   background-position: center;
   clip-path: polygon(0 0, 100% 0, 100% 96%, 54% 100%, 50% 100%, 0 95%);
    position: relative;
    width: 100%;
    padding-bottom: 50px;
    margin-top: 6rem!important;

     
}
/*FORM*/
form {
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.9);
    max-width: 60%;
    margin: 0 auto;
    border-radius: 10px;
    padding: 80px 0;
    color: #000;
    font-size: 20px;
    font-family: var(--ibmplex);
    -webkit-box-shadow: -1px 3px 18px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 3px 18px 0px rgba(0,0,0,0.75);
    box-shadow: -1px 3px 18px 0px rgba(0,0,0,0.75);
    z-index: 999;
    margin-top: 20px;
    margin-bottom: 15px;
}

.form-group{
         margin: 15px auto;
}
           
label{
    font-weight: bold;
    font-size: 0.9em;
}

.input-group{
    border-radius: 5px;
    -webkit-box-shadow: -1px 3px 18px 0px rgba(0,0,0,0.35);
    -moz-box-shadow: -1px 3px 18px 0px rgba(0,0,0,0.35);
    box-shadow: -1px 3px 18px 0px rgba(0,0,0,0.35);
}
            
.input-group-addon{
    border: none;
    border-right: 1px solid rgba(0,0,0,0.2);
}
            
input{
     padding-left: 10px;
}
            
i{
  color: #fff;
}

input{
padding: 3px;
width: 100%;
border: none;
border-radius: 0 5px 5px 0;
}
textarea {
    
    font-family: var(--ibmplex);
    padding: 0 8px;
}

textarea:focus,
input:focus {
    border: 2px solid green;
}

label {
    text-align: center;
}

legend {
    font-weight: bolder;
}


.submit-btn {
    margin-top:3rem;
    padding: 13px 45px;
    border-radius: 26px;
    background-color: darkgreen;
    color: #fff;
    cursor: pointer;
    width: 300px
}

.submit-btn:hover {
    color: #fff;
    background: green;
    box-shadow: 0 0 0 3px #fff, 0 0 0 8px green;
    border: none;
    outline: none;
}

/*MODAL*/

.hide {
    display: none;
}

/* FOOTER */

.social-links a {
    margin-right: 7px;
}

.social-links a i:hover {
    color: blue;
}

.homepage a {
    color: #fafafa;
    text-decoration: none;
    text-transform: uppercase;
}

.float-btn:hover {
    color: blue;
}

.footer {
    background: #333;
    padding: 10px;
}


/* CONTACT SECTION */


/*media queries*/

@media(min-width:1024px) {
    label {
        text-align: center;
    }
    input [type=text] {
        text-align: center;
        width: 300px;
    }
}

@media(max-width: 1024px) {
    .footer {
        position: fixed;
        bottom: 0px;
        padding: 20px 0;
        width: 100%;
    }
    .form {
        padding-top: 20px;
    }
    .contact-bg {
        padding-top: 30px;
        padding-bottom: 40px;
        height: 80%;
    }
}

@media(max-width: 768px) {
    form {
        min-width: 80%;
    }
    .footer {
        position: fixed;
    }
    form {
        padding: 30px 0;
    }
}

@media screen and (max-width:500px) {
    .row {
        padding-bottom: 20px;
        margin-bottom: 10px;
    }
    .logo span {
        display: none;
    }
    h2 {
        font-size: 30px;
    }
    .footer {
        padding-top: 10px;
        position: sticky;
        font-size: 15px;
        margin: 0;
        padding-bottom: 0;
    }
    .col-md-4 {
        margin-top: 2px;
    }
    .homepage a {
        font-size: 12px;
    }
    .mt-5 {
        margin: 0!important;
    }
    input[type="text"],
    input[type="email"] {
        width: 250px;
    }
    .copyright p {
        margin-bottom: 0;
    }
    textarea,
    .submit-btn {
        width: 250px;
    }
}
    
   
label {
        text-align: center;
    }
.btn-success {
        top: 20px;
        font-size: 15px;
        text-align: center;
        display: flex;
        justify-content: center;
        flex-direction: column;
        float: none;
        left: 10px;
    }

.fa-user{
    color:var(--darkgreen);
}
.fa-envelope{
    color:var(--darkgreen)
}