
#wrong-score,
#answers-score {
    font-family: var(--ubuntu);
    font-weight: 600;
    letter-spacing: 0.4rem;
}

.quiz-bg{
    margin-top: 6rem;
    background-image: url('/static/images/crystal-globe-resting.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 0.8;
    height: 100vh;

    width: 100%;
   
  
}
.text-shadow {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);

}

.jumbotron{
    background-color: #fff;
    background-image: linear-gradient(315deg, #fafafa 0%, #e4fce1 74%);
    max-height: auto;
    max-width: 55%;
    margin:0 auto;
    border-radius: 10px;
    padding:3rem 1rem;
    color: #000;
    font-weight: 400;
    line-height: 150%;
    padding:5rem;
    /* box-shadow: 5px 5px 8px 0 #333; */
    margin-top: 5rem;
    box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12)

}

.font-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.quiz-header{
    font-family: var(--abrilfatface);
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);

}
.instructions{
    font-family: var(--ibmplex);
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}
.start-btn{
   border-radius:30px;
   padding: 1rem 3rem;
   display: inline-block;
   background:#e64101;
   color: #fff;
   border: none;
   cursor: pointer;
}


.start-btn:hover{
    text-decoration: none;
    color: #fff;
    background: #e64101;
    box-shadow: 0 0 0 5px #fff, 0 0 0 10px #e64101; 
}



.bg-endgame {
    background: #7AB648;
    width: 100%;
    height: 100%;
    position: fixed;
    background-image: url('');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 0.8;
  
}



ul,p {
    font-family: var(--ibmplex);
    font-size: 2rem;
    color: #333;
    line-height: 2.5rem;
}


.red {
    color: rgb(211, 18, 18);
}




.btn.wrong {
    background-color: #860101;
    color: #f1f1f1ce;
}

.btn.correct {
    background-color: #387704;
}

.hide {
    display: none;
}

.wrong-count,
#wrong-score {
    color: #871402;
}

.counter-container {
    background-color: #fafafa;
}


@media (min-width: 321px) {
  html {
    font-size: calc(10px + 6 * ((100vw - 320px) / 680));
 
  }
  .jumbotron {
      min-width: 55%;
  }  
}
@media (min-width: 1000px) {
  html {
    font-size: 12px;
  }
}

@media (max-width:768px){
    .jumbotron {
        max-width: 80%;
       
    }

    .jumbotron span .icons {
        width: 20px;
    }
    
    h1 {
        font-size: 1.7rem;
        font-weight: 900;
        line-height: 1.5rem;
        letter-spacing: 0.01rem;
        color: var(--white);
        text-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12)

    }

    h2 {
        font-size: 1.6rem;
        font-weight: 900;
        line-height: 1.5rem;
        letter-spacing: 0.01rem;
    }

    p, .howto {
        font-size: 1.1rem;
        color: #000;
    }
}
