/* _____________________google fonts here------------ */
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=IBM+Plex+Serif:wght@100;200;300;400&family=Montserrat:wght@300&family=Ubuntu+Condensed&display=swap');

/* -----------------------------global styles--------------------------- */
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
        --dark:#000;
        --white:#fff;
        --light:#ADAB9C;
        --green:#77913B;
        --darkgreen:#1C3A13;
        --bg-color:#f1f1f1;
        --yellow:#FFB300;
        --orange:#FF6C03;
        --gradient:linear-gradient(to bottom right, #ff6c03, #B2EBF2);
        --abrilfatface: 'Abril Fatface', cursive;
        --ibmplex: 'IBM Plex Serif', serif;
        --montserrat: 'Montserrat', sans-serif;
        --ubuntu: 'Ubuntu Condensed', sans-serif;
}

html {
  font-size: 62.5%;
}

body{
    background-color: #faf0c4;
    font-size: 1.6rem;
    }

.container-fluid{
    padding:0;
    margin: 0;
}

body a{
    color:var(--white)!important;
    text-decoration: none;
    
}
p{
    font-family: var(--montserrat);
    font-weight: 300;
}


/* ---------------------------- Headers */

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
}

h4 {
  font-size: 2rem;
}


/* ------------------------------navbar-------------- */
.logo{
    width:20px;
    padding-left: 20px;
}
.navbar {
  background: var(--darkgreen);
  z-index: 9999;
}

.logo {
  width: 34px;
  height: 44px;
  padding: 0 0 10px 10px;
}

.nav-text {
  font-family: var(--ibmplex);
  font-weight: 300;
  font-size: 25px;
  vertical-align: bottom;
}

.nav-item a{
  font-family: var(--ibmplex);
}

/* -----------------------------hero section ----------------------*/
/* Hero Section */

section#hero {
  position: relative;
  height: 100vh;
  background: url("/static/images/background-image.jfif");
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  justify-content: left;
  top: -86px;
} 

.hero-column {
  text-align: left;
  font-size: 1.8rem;
  letter-spacing: 0.3px;
  color: var(--orange);
  text-shadow: 4px 4px 8px #112206;
}

.cta-column {
  font-size: 2.8rem;
  margin: 0;
}
/*------------------------------about page----------------------*/
.about p{
  font-family: var(--ibmplex);
  font-size: 15px;
}
.about-header{
  font-family: var(--abrilfatface);
  letter-spacing: 0.1rem;
  line-height: 2.4rem;
}

.about-btn{
         width: 100%;
         text-align: center;
         color: rgb(233, 216, 216);
         margin-top: 20px;
         border: 1px solid rgba(0,0,0,0.4);
      }
/* -----------------------resources page------------------------ */


div .col {
    padding: 5px;
}

.resources{
  padding: 0;
  margin: 0;
  font-family: var(--ibmplex);
  color: var(--darkgreen);
  font-weight: 600;
}

.resources-intro p{
  font-family: var(--ibmplex);
  color: var(--darkgreen);
  font-size: 20px;
}

.card-resource{
    border: none;
    background-color:var(--darkgreen);
    color: var(--white);
    border-radius: 20px;
    padding: 10px;
    font-family: var(--ibmplex);

}


.resource-card-title {
    color: var(--yellow);
    font-size: 20px;
    font-weight: 500;
    font-family: var(--abrilfatface);
    text-shadow: 2px 2px var(--dark);
}

.resource-card-link {
    text-decoration: none;
    color: var(--light);
}

.resource-card-link:hover {
    text-decoration: none;
    color: #fff;
}

.learn-more-icon {
    padding-left: 10px;
}

.resource-card-icon {
    padding-left: 30px;
    padding-top: 30px;
    font-size: 30px;
}



@media only screen and (min-width: 768px) {

    /* For desktop: */
    .resources-intro {
        padding-top: 60px;
    }

    #bulb-img {
        max-width: 70%;
        float: right;
        margin-left: 70%;
        margin-bottom: 50px;
    }

    .subheading-resources {
        padding-top: 80px;

    }
}

/* -------------------------footer--------------------------------- */

#footer {
    background-color: var(--bg-color);
    padding:60px;
}

#footer h2 {
    font-family: var(--abrilfatface);
    padding-bottom: 30px;
    color:var(--darkgreen);
    font-size: 3rem; 
}

.github-links li {
    display: inline;
    list-style: none;
}

.github-links {
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 0;
}

.github-links a {
    font-size: 170%;
    padding-right: 2%;
    padding-left: 2%;
}

.github-links img {
    height: 50px;
    width: 50px;
}

.text-centre {
    text-align: center;
}
.rounded{
    width:70px;
    height:70px;
  border-radius:50% !important; 
 }

.bg-footer{
    background-color: var(--darkgreen);
}
footer.social-icons{
    text-align: right;
}
.social-icons li{
    display: inline-block;
    margin-bottom: 4px;
}

.social-icons a{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color: var(--green);
  
}
.copyright-text{
  margin-top: 10px;
}
@media (max-width:991px){
  .footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px){
  .copyright-text, .social-icons{
    text-align:center;
    color:var(--white);
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li{
  display:inline-block;
  margin-bottom:4px
}
.social-icons{
  margin-right:15px;
  text-transform:uppercase;
  color:var(--white);
  font-weight:700;
  font-size:13px
}
.social-icons a{
  color:var(--white);
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}

.social-icons.size-sm a{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}


@media (max-width:767px){
  .social-icons li.title{
    display:block;
    margin-right:0;
    font-weight:600
  }
}