/* _____________________google fonts here------------ */
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=IBM+Plex+Serif:wght@100;200;300;400&family=Montserrat:wght@300&family=Ubuntu+Condensed&display=swap');

/* -----------------------------global styles--------------------------- */
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

:root {
        --dark:#000;
        --white:#fff;
        --light:#ADAB9C;
        --green:#77913B;
        --darkgreen:#1C3A13;
        --bg-color:#f1f1f1;
        --yellow:#FFB300;
        --orange:#FF6C03;
        --gradient:linear-gradient(to bottom right, #ff6c03, #B2EBF2);
        --abrilfatface: 'Abril Fatface', cursive;
        --ibmplex: 'IBM Plex Serif', serif;
        --montserrat: 'Montserrat', sans-serif;
        --ubuntu: 'Ubuntu Condensed', sans-serif;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body{
    background-color: #faf0c4;
    font-size: 1.6rem;
    text-decoration: none;
    list-style: none;
    }

.container-fluid{
    padding:0;
    margin: 0;
}

body a{
    color:var(--white)!important;
    text-decoration: none;  
}
li{
  list-style: none;
}
p{
    font-family: var(--montserrat);
    font-weight: 300;
}


/* ---------------------------- Headers */

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
}

h4 {
  font-size: 2rem;
}


/* ------------------------------navbar-------------- */
.logo{
    width:20px;
    padding-left: 20px;
}
.navbar {
  background: var(--darkgreen);
  z-index: 9999;
  padding-left: 150px!important;
  padding-right: 150px!important;
}

.logo {
  width: 34px;
  height: 44px;
  padding: 0 0 10px 10px;
}

.nav-text {
  font-family: var(--ibmplex);
  font-weight: 300;
  font-size: 25px;
  vertical-align: bottom;
}


.nav-item a{
  font-family: var(--ibmplex);
  float: right;
}


/* -----------------------------hero section ----------------------*/
/* Hero Section */
/* landing page */
.hero{
    width:100%;
    height:100vh;
    position: relative;
    perspective: 100rem;
    overflow: hidden;
    padding-top: 85px;
}
.img-wrapper{
    width:100%;
    height:100%;
    background-color: rgba(0, 0, 0, 0.8);
    overflow:hidden;

}

.img-wrapper img{
    width:100%;
    height:100%;
    object-fit: cover;
    opacity:0.5;
    animation-name: scale;
    animation-duration: 25s;
}

@keyframes scale{
    0%{
        transform:scale(1.3);
    }
    100%{
        transform:scale(1);
    }
}
.banner{
    position: absolute;
    top:30%;
    left:15%;
}

.banner h1{
    font-family: var(--abrilfatface);
    font-size: 8rem;
    font-weight: 300;
    color:#fff;
    width:51%;
    line-height: 9rem;
    letter-spacing:0.2rem;
    text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.4);
    opacity:0;
    animation:moveBanner 1s 0.5s forwards;
}

.banner p{
    font-family: var(--montserrat);
    font-size: 4rem;
    color:#fff;
    width:65%;
    letter-spacing: 0.01rem;
    margin-bottom: 3rem;
    text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.4);
    opacity:0;
    animation:moveBanner 1s 0.7s forwards;

}

.banner button{
    width:25rem;
    height:7rem;
    background-color: var(--orange);
    border:none;
    font-family: var(--ibmplex);
    font-size: 2rem;
    text-transform: uppercase;
    color: #fff;
    border-radius: 8px;
    text-shadow:0 0.2rem 0.4rem rgba(0, 0, 0, 0.2);
    box-shadow:0 0.3rem 0.5rem rgba(5, 161, 70, 0.4);
    cursor: pointer;
    opacity: 0;
    animation:moveBanner 1s 0.9s forwards;

}

@keyframes moveBanner{
    0%{
        transform:translateY(40rem) rotateY(-20deg)
    }
    100%{
        transform: translateY(0) rotateY(0);
        opacity: 1;
    }

}
/* media query homepage */
@media(max-width:1000px){
    .banner h1{
        font-size: 5rem;
        line-height: 6rem;
    }

    .banner p{
        font-size: 2.5rem;
    }
    .banner button{
        width: 18rem;
        height: 4rem;
        font-size: 1.5rem;
    }
}

@media(max-width:700px){
    .banner h1{
        font-size: 4rem;
        line-height: 5rem;
    }
    .banner p{
        font-size: 2rem;
    }
}

@media(max-width:500px){
    html{
        font-size: 45%;
    }
}
/*------------------end media query for homepage*--------------------/

/*------------------------------about page----------------------*/
.about{
  padding-top: 50px;
  padding-bottom: 50px;
  height: auto;
  overflow: hidden;
}

.about-container{
  padding-top: 200px;
}
.about p{
  font-family: var(--ibmplex);
  font-size: 15px;
}
.about-header{
  font-family: var(--abrilfatface);
  letter-spacing: 0.1rem;
  line-height: 2.4rem;
}

.about-btn{
    width:20rem;
    background-color: var(--orange);
    padding: 14px 0;
    border:none;
    font-family: var(--ibmplex);
    font-size: 2rem;
    text-transform: uppercase;
    color: #fff;
    border-radius: 8px;
    text-shadow:0 0.2rem 0.4rem rgba(0, 0, 0, 0.2);
    box-shadow:0 0.3rem 0.5rem rgba(5, 161, 70, 0.4);
    cursor: pointer;
    margin-top: 7.5px;
}

/* -----------------------resources page------------------------ */


div .col {
    padding: 5px;
}

.resources{
  padding: 0;
  margin: 0;
  font-family: var(--ibmplex);
  color: var(--darkgreen);
  font-weight: 600;
}

.resources-intro p{
  font-family: var(--ibmplex);
  color: var(--darkgreen);
  font-size: 20px;
}

.card-resource{
    border: none;
    background-color:var(--darkgreen);
    color: var(--white);
    border-radius: 20px;
    padding: 10px;
    font-family: var(--ibmplex);

}


.resource-card-title {
    color: var(--yellow);
    font-size: 20px;
    font-weight: 500;
    font-family: var(--abrilfatface);
    text-shadow: 2px 2px var(--dark);
}

.resource-card-link {
    text-decoration: none;
    color: var(--light);
}

.resource-card-link:hover {
    text-decoration: none;
    color: #fff;
}

.learn-more-icon {
    padding-left: 10px;
}

.resource-card-icon {
    padding-left: 30px;
    padding-top: 30px;
    font-size: 30px;
}



@media only screen and (min-width: 768px) {

    /* For desktop: */
    .resources-intro {
        padding-top: 60px;
    }

    #bulb-img {
        max-width: 70%;
        float: right;
        margin-left: 70%;
        margin-bottom: 50px;
    }

    .subheading-resources {
        padding-top: 80px;

    }
}

/* -------------------------footer--------------------------------- */

#footer {
    background-color: var(--bg-color);
    padding:60px;
    margin-top: 35px;
}

#footer h2 {
    font-family: var(--abrilfatface);
    padding-bottom: 30px;
    color:var(--darkgreen);
    font-size: 3rem; 
}

.github-links li {
    display: inline;
    list-style: none;
}

.github-links {
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 0;
}

.github-links a {
    font-size: 170%;
    padding-right: 2%;
    padding-left: 2%;
}

.github-links img {
    height: 50px;
    width: 50px;
}

.text-centre {
    text-align: center;
}
.rounded{
    width:70px;
    height:70px;
  border-radius:50% !important; 
 }

.bg-footer{
    background-color: var(--darkgreen);
}
footer.social-icons{
    text-align: right;
}
.social-icons li{
    display: inline-block;
    margin-bottom: 4px;
}

.social-icons a{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color: var(--green);
  
}
.copyright-text{
  margin-top: 10px;
}
@media (max-width:991px){
  .footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px){
  .copyright-text, .social-icons{
    text-align:center;
    color:var(--white);
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li{
  display:inline-block;
  margin-bottom:4px
}
.social-icons{
  margin-right:15px;
  text-transform:uppercase;
  color:var(--white);
  font-weight:700;
  font-size:13px
}
.social-icons a{
  color:var(--white);
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}

.social-icons.size-sm a{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}


@media (max-width:767px){
  .social-icons li.title{
    display:block;
    margin-right:0;
    font-weight:600
  }
}