/* _____________________google fonts here------------ */
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=IBM+Plex+Serif:wght@100;200;300;400&family=Montserrat:wght@300&family=Ubuntu+Condensed&display=swap');

/* -----------------------------global styles--------------------------- */
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
:root {
        --dark:#000;
        --white:#fff;
        --light:#ADAB9C;
        --green:#77913B;
        --darkgreen:#1C3A13;
        --bg-color:#f1f1f1;
        --yellow:#FFB300;
        --orange:#FF6C03;
        --abrilfatface: 'Abril Fatface', cursive;
        --ibmplex: 'IBM Plex Serif', serif;
        --montserrat: 'Montserrat', sans-serif;
        --ubuntu: 'Ubuntu Condensed', sans-serif;
}
html{
    scroll-behavior: smooth;
}


body{
    background-color:var(--bg-color) ;
    }

.container-fluid{
    padding:0;
    margin: 0;
}

body a{
    color:var(--white)!important;
    text-decoration: none;
    
}
p{
    font-family: var(--montserrat);
    font-weight: 300;
}
/* ------------------------------navbar-------------- */
.logo{
    width:20px;
}
.navbar {
  background: transparent;
  z-index: 9999;
}

.logo {
  width: 34px;
  height: 44px;
}

.nav-text {
  font-family: var(--ubuntu);
  font-weight: 300;
  font-size: 25px;
  vertical-align: bottom;
}



/* -----------------------------hero section ----------------------*/
/* Hero Section */

section#hero {
  position: relative;
  height: 100vh;
  background: url("../images/earthbg.jpg") fixed;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  justify-content: left;
  top: -86px;
}

.hero-column {
  text-align: left;
  font-size: 1.8rem;
  letter-spacing: 0.3px;
  color: var(--orange);
  text-shadow: 4px 4px 8px #112206;
}

.cta-column {
  font-size: 2.8rem;
  margin: 0;
}
/* -----------------------resources page------------------------ */
/* -------------------- Resources Page*/

div .col {
    padding: 5px;
}

#resource-section h1 {
    font-weight: 700;
    color: var(--darkgreen);
    padding: 40px 0;
    font-size: 46px;
}

.card-resource{
    border: none;
    background-color:var(--darkgreen);
    color: var(--white);
    border-radius: 20px;
    padding: 10px;

}


.resource-card-title {
    color: var(--yellow);
    font-weight: 800;
}

.resource-card-link {
    text-decoration: none;
    color: var(--light);
}

.resource-card-link:hover {
    text-decoration: none;
    color: #fff;
}

.learn-more-icon {
    padding-left: 10px;
}

.resource-card-icon {
    padding-left: 30px;
    padding-top: 30px;
    font-size: 30px;
}



@media only screen and (min-width: 768px) {

    /* For desktop: */
    .resources-intro {
        padding-top: 60px;
    }

    #bulb-img {
        max-width: 70%;
        float: right;
        margin-left: 70%;
        margin-bottom: 50px;
    }

    .subheading-resources {
        padding-top: 80px;

    }
}
/* -------------------------footer--------------------------------- */

#footer {
    background-color: var(--bg-color);
    padding: 60px;
}

#footer h2 {
    font-family: var(--abrilfatface);
    padding-bottom: 30px;
    color:var(--white);
    font-size: 3rem;
    text-shadow: 
    0 1px 0 #ccc, 
    0 2px 0 #c9c9c9, 
    0 3px 0 #bbb, 
    0 4px 0 #b9b9b9, 
    0 5px 0 #aaa, 
    0 6px 1px rgba(0,0,0,.1), 
    0 0 5px rgba(0,0,0,.1), 
    0 1px 3px rgba(0,0,0,.3), 
    0 3px 5px rgba(0,0,0,.2), 
    0 5px 10px rgba(0,0,0,.25), 
    0 10px 10px rgba(0,0,0,.2), 
    0 20px 20px rgba(0,0,0,.15);
}

.github-links li {
    display: inline;
    list-style: none;
}

.github-links {
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 0;
}

.github-links a {
    font-size: 170%;
    padding-right: 2%;
    padding-left: 2%;
}

.github-links img {
    height: 50px;
    width: 50px;
}

.text-centre {
    text-align: center;
}
.rounded{
    width:70px;
    height:70px;
  border-radius:50% !important; 
 }

.bg-footer{
    background-color: var(--darkgreen);
}
footer.social-icons{
    text-align: right;
}
.social-icons li{
    display: inline-block;
    margin-bottom: 4px;
}

.social-icons a{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color: var(--green);
  
}
.copyright-text{
  margin:0
}
@media (max-width:991px){
  .footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px){
  .copyright-text, .social-icons{
    text-align:center;
    color:var(--white);
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li{
  display:inline-block;
  margin-bottom:4px
}
.social-icons{
  margin-right:15px;
  text-transform:uppercase;
  color:var(--white);
  font-weight:700;
  font-size:13px
}
.social-icons a{
  color:var(--white);
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}

.social-icons.size-sm a{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}


@media (max-width:767px){
  .social-icons li.title{
    display:block;
    margin-right:0;
    font-weight:600
  }
}