{% extends "base.html" %}
{% block content %}
        <!-- about Sections -->
        <section id="about" class="p-5 mt-5">
            <div class="container">
                <div class="row align-items-center justify-content-between">
                    <div class="col-md">
                        <video id="myvideo" controls width="500" height="auto" muted>
                            <source src=".//static/videos/earth-day2.mp4" type="video/mp4">
                        </video>
                    </div>
                    <div class="col-md p-5">
                        <!-- <h2 class="text-ark">Earth Day</h2> -->
                        <h3 class="about-header mb-5">Mother Earth <span class="text-success"> Needs You!</span></h1>

                            <p><span style="font-size: x-large;">Earth Day</span> is an annual event on April 22 to demonstrate support for
                                environmental protection. First held on April 22, 1970, it now includes a wide range of
                                events coordinated globally by EarthDay.org (formerly Earth Day Network) including 1
                                billion people in more than 193 countries. The official theme for 2022 is “Invest in Our
                                Planet!!”.
                            </p>
                            

                            <a href="https://www.britannica.com/place/Earth" class="btn about-btn" target="_blank">Read More</a>
                    </div>
                </div>
            </div>
        </section>
        <!-- end of section about /-->
{% endblock %}
