{% extends "base.html" %}
{% block content %}
        <!-- about Sections -->
        <section id="about" class="p-5">
            <div class="container">
                <div class="row align-items-center justify-content-between">
                    <div class="col-md">
                        <video id="myvideo" controls width="750" height="auto" autoplay loop muted>
                            <source src=".//static/videos/earth-day2.mp4" type="video/mp4">

                        </video>

                    </div>
                    <div class="col-md p-5">
                        <!-- <h2 class="text-ark">Earth Day</h2> -->
                        <h3 class="header">Mother Earth <span class="text-info"> needs you!</span></h1>

                            <p class="text-dark"><span style="font-size: x-large;">Earth Day</span> is an annual event on April 22 to demonstrate support for
                                environmental protection. First held on April 22, 1970, it now includes a wide range of
                                events coordinated globally by EarthDay.org (formerly Earth Day Network) including 1
                                billion people in more than 193 countries. The official theme for 2022 is “Invest in Our
                                Planet!!”.
                            </p>
                            <p class="text-dark"><span style="font-size: x-large;">The Earth</span> was once believed to be the centre of the universe.
                                Due to the apparent movements of the Sun and planets in relation to their viewpoint,
                                ancient scientists insisted that the Earth remained static, whilst other celestial
                                bodies travelled in circular orbits around it. Eventually, the view that the Sun was at
                                the centre of the universe was postulated by Copernicus, though this is also not the
                                case.


                            </p>

                            <a href="{{ url_for('quiz') }}" class="btn btn-light text-dark">
                                <i class="fas fa-chevron-down"></i> Know more about Mother Earth                            </a>
                  
                            <a href="{{ url_for('quiz') }}" class="btn btn-dark mt-3">
                                <i class="fas fa-chevron-down"></i> START 
                            </a>
                    </div>
                </div>
            </div>
        </section>
        <!-- end of section about /-->
{% endblock %}
