<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="theme-color" content="orange" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A place to create awareness about sustainability">
    <meta name="author" content="Eugenia, Jochen, Yusuf, Nigel , Sandra & Salwin">
    <meta name="keywords" content="rewable energy, tree planting, zero waste, biodiversification, sustainable living">
    <link rel="apple-touch-icon" href="/favicon.png">
    <!-- twitter -->
    <link rel="icon" type="image/png" href="/static/images/favicon.png">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="Mother Earth">
    <meta name="twitter:description" content="A website create for earth day to create awareness">
    <meta name="twitter:image" content="mother_earth mockup image"><!-- include mother earth mockup image-->
    <meta name="twitter:image:alt" content="An image showing this website on multiple screen sizes">
    <!-- facebook, linkedin, google -->
    <meta property="og:type" content="article" />
    <meta name="image" property="og:image" content="INLCUDE MOTHER EARTH MOCKUP IMAGE">
    <!-- include mother earth mockup image-->
    <meta property="og:image:alt" content="An image showing this website on multiple screen sizes" />
    <meta property="og:url" content="https://github.com/JochenFM/mother-earth" /> <!-- deployed site url-->
    <meta property="og:site_name" content="Mother Earth" />
    <meta property="og:title" content="Mother Earth" />
    <meta name="author" content="The sustainable hackers">
    <meta property="og:description" content="A website created to create awareness on sustainability" />
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
    <!-- Fontawesome Icons -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800;900&display=swap"
        rel="stylesheet">
    <!-- Hover.css CDN -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/hover.css/2.3.1/css/hover-min.css"
        integrity="sha512-csw0Ma4oXCAgd/d4nTcpoEoz4nYvvnk21a8VA2h2dzhPAvjbUIK6V3si7/g/HehwdunqqW18RwCJKpD7rL67Xg=="
        crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css">
    <link rel="stylesheet" href="/static/css/style.css" type="text/css">

    <title>Mother Earth | A website for sustainable living!</title>

</head>
<body>
    <!-- section homepage -->
    <div class="container-fluid">

        <!-- Navbar -->
        <header>
            

  
            <nav class="navbar navbar-expand-lg">
                <div class="container-fluid">
                    <a class="navbar-brand logo" href="{{ url_for('home_page') }}"><img src="/static/images/logo.png"
                            style="width: 70px;" alt="mother earth logo"></a>
                    <button class="navbar-toggler custom-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse nav justify-content-end" id="navbarSupportedContent">
                        <ul class="nav justify-content-end">
                            <li class="nav-item active">
                                <a class="nav-link" aria-current="page" href="{{ url_for('home_page') }}">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('about') }}">About</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#quiz">Quiz</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#resources">Resources</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link btn btn-success btn-md" href="#donate">Donate</a>
                             <li class="nav-item">
                                <a  href="contact.html" class="nav-link" id="contact">Contact</a>
 main
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>

 main
        </header>
         
        
        <!-- end of navbar -->
        {% block content %}
        {% endblock %}
  


        <!-- section footer -->
        <footer>
            <div class="container-fluid text-center" id="footer">
                <div class="row">
                    <div class="col">
                        <h2>Connect with us on GitHub!</h2>
                        <!-- Team Github links -->
                        <ul class="github-links">
                            <li><a href="" target="_blank" rel="noopener noreferrer" aria-label="Eugenia avatar">
                                    <img src="/static/images/eugenia.jpg" alt="eugenia avatar" class="rounded"></a></li>
                            <li><a href="https://github.com/Niged01" target="_blank" rel="noopener noreferrer"
                                    aria-label="nigel avatar"><img src="/static/images/nigel.jpg" alt="team avatar"
                                        class="rounded"></a>
                            </li>
                            <li><a href="https://github.com/JochenFM" target="_blank" rel="noopener noreferrer"
                                    aria-label="jochen avatar"><img src="/static/images/jochen.jpg" alt="team avatar"
                                        class="rounded"></a></li>
                            <li><a href="https://github.com/Yusuffrih" target="_blank" rel="noopener noreferrer"
                                    aria-label="yusuf avatar"><img src="/static/images/yusuf.jpg" alt="team avatar"
                                        class="rounded"></a>
                            </li>
                            <li><a href="https://github.com/Atinos31" target="_blank" rel="noopener noreferrer"
                                    aria-label="sandra avatar"><img src="/static/images/sandra.jpg" alt="team avatar"
                                        class="rounded"></a></li>
                            <li><a href="https://github.com/SalwinA" target="_blank" rel="noopener noreferrer"
                                    aria-label="avatar"><img src="/static/images/salwin.jpg" alt="salwin avatar"
                                        class="rounded"></a></li>
                            <li><a href="https://github.com/DaveyJH" target="_blank" rel="noopener noreferrer"
                                    aria-label="avatar"><img src="/static/images/dave.jpg" alt="dave avatar"
                                        class="rounded"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Scripts -->
        <!-- Bootstrap -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous">
        </script>
        <!-- end of section footer /-->
                  
     <!-- section footer -->
      <footer>
          <div class="container-fluid text-center" id="footer">
              <div class="row">
                  <div class="col-md">
                      <h2>Connect with us on GitHub!</h2>
                      <!-- Team Github links -->
                      <ul class="github-links">
                          <li><a href="https://github.com/emusat2021" target="_blank" rel="noopener noreferrer"
                                  aria-label="Eugenia avatar">
                                  <img src="/static/images/eugenia.jpg" alt="eugenia avatar" class="rounded hvr-pulse"></a></li>
                          <li><a href="https://github.com/Niged01" target="_blank" rel="noopener noreferrer"
                                  aria-label="nigel avatar"><img src="/static/images/nigel.jpg" alt="team avatar" class = "rounded hvr-pulse"></a>
                          </li>
                          <li><a href="https://github.com/JochenFM" target="_blank" rel="noopener noreferrer"
                                  aria-label="jochen avatar"><img src="/static/images/jochen.jpg"
                                      alt="team avatar" class="rounded hvr-pulse"></a></li>
                          <li><a href="https://github.com/Yusuffrih" target="_blank" rel="noopener noreferrer"
                                  aria-label="yusuf avatar"><img src="/static/images/yusuf.jpg" alt="team avatar" class="rounded hvr-pulse"></a>
                          </li>
                           <li><a href="https://github.com/Atinos31" target="_blank" rel="noopener noreferrer"
                                  aria-label="sandra avatar"><img src="/static/images/sandra.jpg"
                                      alt="team avatar" class="rounded hvr-pulse"></a></li>
                          <li><a href="https://github.com/SalwinA" target="_blank" rel="noopener noreferrer"
                                  aria-label="avatar"><img src="/static/images/salwin.jpg"
                                      alt="salwin avatar" class="rounded hvr-pulse"></a></li>
                        <li><a href="https://github.com/DaveyJH" target="_blank" rel="noopener noreferrer"
                                  aria-label="avatar"><img src="/static/images/dave.jpg"
                                      alt="dave avatar" class="rounded hvr-pulse"></a></li>
                      </ul>
                  </div>
              </div>
          </div>
        
          <div class="container-fluid py-4 bg-footer">
              <div class="row">
                  <div class="col-md-8 col-sm-6 col-xs-12">
                      <p class="copyright-text text-white text-center">Copyright &copy 2022 All Righs Reserved by <a href="#" class="text-warning hvr-pulse">ECOders.</a></p>
                  </div>
                  <div class="col-md-4 col-sm-6 col-xs-12">
                      <ul class="social-icons">
                          <li><a href="#" class="facebook hvr-pulse"><i class="fab fa-facebook"></i></a></li>
                          <li><a href="#" class="instagram hvr-pulse"><i class="fab fa-instagram"></i></a></li>
                          <li><a href="#" class="linkedin hvr-pulse"><i class="fab fa-linkedin"></i></a></li>
                      </ul>
                  </div>
              </div>
          </div>
      </footer>
    <!-- Scripts -->
    <!-- Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous">
    </script>
    <!-- end of section footer /-->
                  main



<!-- Button trigger modal this section would need to be replaced with HTML for four answer options-->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal-correct">
    Answer 1
  </button>

  <!-- Button trigger modal this section would need to be replaced with HTML for four answer options-->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal-false">
    Answer 2
  </button>


Salwin
        <!-- script tags -->

  
  <!-- Modal for correct answer -->
  <div class="modal fade" id="modal-correct" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Good job!</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>You help saving our planet!</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Continue playing</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal for wrong answer -->
  <div class="modal fade" id="modal-false" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Oooops!</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>Please try again</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Continue playing</button>
        </div>
      </div>
    </div>
  </div>
  main


        <script src="/static/js/quiz.js"></script>
        <script src="/static/css/style.css"></script>

<script src="/static/js/quiz.js"></script>
<script src="/static/js/script.js"></script>
main

</body>

</html>