{% extends "base.html" %}
{% block content %}
<!--form -->
<section id="contact" class="container">
    <div class="contact-bg">
        <form onsubmit="sendForm(this);" method="POST" id="form" name="contact-form">
            <div class="col-12 col-lg-6">
                <fieldset>
                    <legend>Your Details:</legend>
                    <label for="name">
                        Full Names:
                        <input type="text" id="name" name="name"  placeholder="Full names..." required>
                    </label>
                    <br/>
                    <label for="emailaddress">
                        Email Address:
                        <input type="email" name="emailaddress" id="emailaddress" placeholder="Email address..." required>
                    </label>
                    <br/>
                </fieldset>
                <br/>
                <fieldset>
                    <legend>Your Review:</legend>
                    <p>
                        <label for="hear-about">How did you hear about Us?</label>
                        <select name="referrer" id="hear-about">
                            <option value="google">Google</option>
                            <option value="friend">Friend</option>
                            <option value="advert">Advert</option>
                            <option value="other">Other</option>
                        </select>
                    </p>
                    <p>
                        Would you visit again?
                        <br/>
                        <label>
                            <input type="radio" name="rating" value="yes"/> Yes
                        </label>
                        <label>
                            <input type="radio" name="rating" value="no"> No
                        </label>
                        <label>
                            <input type="radio" name="rating" value="maybe"> Maybe
                        </label>
                    </p>
                    <p>
                        <label for="message">Comments:</label>
                        <br/>
                        <textarea name="message" id="message" placeholder="write your message here..." required></textarea>
                    </p>
                    <label>
                        <input type="checkbox" name="subscribe" checked="checked"/> Sign me up for email updates
                    </label>
                    <br/>
                    <button type="submit" class="submit-btn" id="submit-btn" data-toggle="modal" data-target="#myModal">Submit</button>
                </fieldset>
            </div>
        </form>

    </div>
</section>
<p><a href="{{ url_for('home_page') }}">Home</a></p>

</section>

{% endblock %}
{% block css %}
<link rel="stylesheet" href="/static/css/contact.css">
{% endblock %}
{% block scripts %}
<script src="/static/js/email.js"></script>
{% endblock %}
