{% extends "base.html" %}
{% block content %}


   <script src="https://cdn.jsdelivr.net/npm/emailjs-com@2/dist/email.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/emailjs-com@2/dist/email.min.js"></script>
    <script type="text/javascript">
        (function() {
            emailjs.init("user_3HLEpZUiHHbG3FpN991vC");
        })();
    </script>

<!--form -->

<section id="contact" class="container-fluid contact-bg">
    <div class="p-5 contact-container">
        <h2 class="text-center contact-heading">Contact Us</h2>
                    <form onsubmit="return sendForm(this);" method="POST" id="form" name="contact-form">
                        <div class="col-12 col-lg-6">
                            <div class="form-group">
                                <label for="name">Your Name</label>
                                <br />
                                <div class="input-group">
                                    <div class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i> </div>
                                    <input type="text" id="name" name="name" placeholder="Enter Your Name" required/>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="email">Your Email</label>
                                <br />
                                <div class="input-group">
                                    <div class="input-group-addon"><i class="fa fa-envelope" aria-hidden="true"> </i>
                                    </div>
                                    <input type="email" id="email" name="email" placeholder="Enter Your Email" required />
                                </div>
                            </div>
                            <p>
                                <label for="hear-about">How did you hear about Us?</label>
                                <select name="referrer" id="hear-about">
                                    <option value="google">Google</option>
                                    <option value="friend">Friend</option>
                                    <option value="advert">Advert</option>
                                    <option value="other">Other</option>
                                </select>
                            </p>
                            <p>Would you visit again?<br />
                                <label>
                                    <input type="radio" name="rating" value="yes" /> Yes
                                </label>
                                <label>
                                    <input type="radio" name="rating" value="no"> No
                                </label>
                                <label>
                                    <input type="radio" name="rating" value="maybe"> Maybe
                                </label>
                            </p>
                            <p>
                                <label for="message" class="form-label">Message</label><br />
                                <textarea name="message" id="message" class="form-control"  id="email_body"
                rows="5"
                                    placeholder="write your message here..." required></textarea>
                            </p>
                            <label>
                                <input type="checkbox" name="subscribe" checked="checked" /> Sign me up for Mother Earth
                                Newsletter
                            </label>
                            <br/>                      
                              <button type="submit" class="submit-btn" id="submit-btn" data-toggle="modal" data-target="#myModal">Submit</button>
                            </fieldset>
                        </div>
                    </form>
                </div>

            </div>

</section>
<hr class="my-5">
<!--- the contact modal -->
    <!-- The Modal -->
    <div class="modal fade" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Thank you</h4>
                    <button type="button" class="close" data-dismiss="modal">×</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <i class="fas fa-check-circle">
                        </i> Your message has been successfully sent! <br>We will get back to you shortly.
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    </div>


{% endblock %}
{% block css %}

<link rel="stylesheet" href="static/css/contact.css">

{% endblock %}
{% block scripts %}
<script src="/static/js/contact.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{% endblock %}
