{% extends "base.html" %}
{% block content %}
        <!-- start of hero section -->
              <section class="hero">
            <div class="img-wrapper">
                <img src="/static/images/background-image.jfif" alt="">
            </div>
            <div class="banner">
                <h1>Save Mother Nature</h1>
                <p>"If you truly love nature, you will find beauty everywhere." -
Vincent van Gogh</p>
                  <button> <a href="{{ url_for('about') }}" role="button" class="explore-cta">Explore More
                                    </a></button>
                                    
            </div>
        </section>
           
        <!--  end of section homepage /-->

{% endblock %}
