{% extends "base.html" %}
{% block content %}


<!-- section splash squiz /-->


<section class="container-fluid">
  <div class="jumbotron jumbotron-fluid">

    <div class="container card bg-light">
      <h1 class="display-4"><i>Mother Earth</i> Quiz</h1>
      <h2 class ="lead">Test your earthy knowledge</h2>
      <hr class="my-4">
      <h3 class="lead">You are about to enter our quiz about the Earth and what we humans can do to protect 
        our health, our families, and our livelihoods by preserving her.</h3>
        <h3>
          <span class="mr-2">
            <img src="/static/images/logo.png" width="50" alt="" class="icons"></span>HOW TO PLAY<span><img
              src="/static/images/logo.png" width="50" alt="four leaf shamrock icon" class="icons">
          </span>
        </h3>
        <ul class="howto">
          <li>Press the button below to go to quiz</li>
          <li>Read the question and choose your answer from the four options on the cards</li>
          <li>If you're wrong, smile (optional).</li>
          <li>Move on to the next.</li>
          <li>After you finish the quiz, you will have the opportunity to choose a location on Google Maps where you will plant a tree with your name.</li>
        </ul>
        <p>
          <small class="text-muted">Remember to always take care of your planet!</small>
        </p>
        <div class ="text-right">
        <a class="btn text-dark" href="{{ url_for('quiz') }}" role="button">Go to Quiz</a>
        <a class="btn text-dark mr-2" href="{{ url_for('home_page') }}" role="button">Back</a>
      </div>
      </div>
    </div>
  </div>
  </div>



</section>

<!-- end of section splash squiz /-->
{% endblock %}
{% block css %}
<link rel="stylesheet" href="/static/css/quiz.css" type="text/css">
{% endblock %}
