{% extends "base.html" %}
{% block content %}

<!-- section splash squiz /-->

<section class="container-fluid" id="quiz_splash">
  <div class="jumbotron">
    <div class="container card bg-light hover-zoom">
      <h1 class="display-4">Mother Earth Quiz</h1>
      <p>Test your Earthy knowledge</p>

      <div class="instructions">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rem pariatur reprehenderit
        possimus a velit voluptates libero voluptate fugiat non dolor?
        <p class="p-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat ex tempora illo minus quos
          repudiandae nobis ipsum molestias ullam maxime?
          loved ones! &nbsp;<a class="" href="" target="_blank" display="none">Read more</a>
        </p>
        <h3>
          <span class="mr-2">
            <img src="/static/images/logo.png" width="50" alt="" class="icons"></span>HOW TO PLAY<span><img
              src="/static/images/logo.png" width="50" alt="four leaf shamrock icon" class="icons">
          </span>
        </h3>
        <ul class="howto">
          <li>Press start a new game below.</li>
          <li>Answer the question on the card.</li>
          <li>If you're wrong, smile(optional).</li>
          <li>Move on to the next.</li>
        </ul>
        <p>
          <small class="text-muted">Remember to always take care of your planet!</small>
        </p>
        <a class="btn btn-primary btn-lg" href="{{ url_for('quiz') }}" role="button">Go to Quiz</a>
      </div>
    </div>
  </div>
  </div>

</section>

<!-- end of section splash squiz /-->
{% endblock %}
{% block css %}
<link rel="stylesheet" href="/static/css/quiz.css" type="text/css">

{% endblock %}
{% block js%}
<script src="/static/js/quiz.js"></script>
{% endblock %}