{% extends "base.html" %}
{% block content %}

<section class="container-fluid" id="quiz">
  <div class="jumbotron">
  <h1 class="display-4 text-center quiz-header"><img src="/static/images/logo.png"  style="width:70px; opacity: 0.6;" alt="">
        Mother Earth Quiz<img src="/static/images/logo.png"  style="width:70px; opacity:0.6" alt=""></h1>
    <div class="container bg-light h-100">
      kytfhg

    

    </div>
    </div>
</section>
 
{% endblock %}
{% block scripts %}
<script src="/static/js/quiz.js"></script>
{% endblock %}
{% block css %}
<link rel="stylesheet" href="/static/css/quiz.css" type="text/css">
{% endblock %}
