{% extends "base.html" %}
{% block content %}
        <!-- section resouces -->
        <section id="resources" class="container my-5">
            <div class="row">
                <div class="col-12">
                    <h1 class="resources">Resources</h1>
                </div>
            </div>
            <div class="row resources-intro">
                <div class="col-12 col-lg-6">
                    <p class="lead"> Natural resources are materials that come from the Earth that we use to meet our
                        needs. Examples of natural resources include sunlight, air, water, land, minerals, fossil fuels,
                        plant life, and animal life. But what makes a natural resource sustainable?
                    </p>
                </div>
                <div class="col-12 col-lg-6">
                    <img class="img-fluid z-depth-1 " id="bulb-img" src="/static/images/bulb.gif" alt="bulb"
                        style="width:70px;">
                </div>
            </div>

            <!-- Cards -->
            <div class="row row-cols-1 row-cols-md-2 g-4">

                <!-- Card 1 -->
                <div class="col hvr-wobble-vertical">
                    <div class="card card-resource">
                        <i class="far fa-bookmark resource-card-icon"></i>
                        <div class="card-body">
                            <h5 class="card-title resource-card-title">Zero Waste Home</h5>
                            <p class="card-text">This site offers resources on sustainable products, event schedules,
                                and a free bulk finder to access package-free locations. Zero Waste Home is recognized
                                as a reputable, trusted resource by publications such as the BBC, CBS, and The New York
                                Times..</p>
                            <a href="https://zerowastehome.com/" class="resource-card-link hvr-icon-forward"
                                target="_blank" rel="noopener noreferrer">Learn More
                                <i class="fas fa-arrow-right hvr-icon learn-more-icon"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- Card 2 -->
                <div class="col hvr-wobble-vertical">
                    <div class="card card-resource">
                        <i class="far fa-bookmark resource-card-icon"></i>
                        <div class="card-body">
                            <h5 class="card-title resource-card-title">Earth Easy</h5>
                            <p class="card-text">This comprehensive site covers everything from green gardening to
                                off-the-grid preparedness. They specialize in an eco-friendly approach to sustainable
                                living and have an ecommerce store where they offer a variety of products.</p>
                            <a href="https://eartheasy.com/" class="resource-card-link hvr-icon-forward" target="_blank"
                                rel="noopener noreferrer">Learn More
                                <i class="fas fa-arrow-right hvr-icon learn-more-icon"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- Card 3 -->
                <div class="col hvr-wobble-vertical">
                    <div class="card card-resource">
                        <i class="far fa-bookmark resource-card-icon"></i>
                        <div class="card-body">
                            <h5 class="card-title resource-card-title">Looking for ways to make an impact?</h5>
                            <p class="card-text">Join us this April as we convene in a virtual format around the world,
                                Our Earth Day 2022 Festival + Virtual Stage will provide a valuable space for the
                                climate and environmental communities to connect with the public, meet and learn from
                                one another, and bring new people into the movement. </p>
                            <a href="http://www.earthdayinitiative.org/2022-events"
                                class="resource-card-link hvr-icon-forward" target="_blank"
                                rel="noopener noreferrer">Learn More
                                <i class="fas fa-arrow-right hvr-icon learn-more-icon"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- Card 4 -->
                <div class="col hvr-wobble-vertical">
                    <div class="card card-resource">
                        <i class="far fa-bookmark resource-card-icon"></i>
                        <div class="card-body">
                            <h5 class="card-title resource-card-title">charlie on Travel</h5>
                            <p class="card-text">Charlie is a green travel blogger from the U.K. She blogs about
                                eco-friendly accommodations, community tourism, eating local and vegetarian,
                                sustainability, and living like the locals.</p>
                            <a href="https://charlieontravel.com/" class="resource-card-link hvr-icon-forward"
                                target="_blank" rel="noopener noreferrer">Learn More
                                <i class="fas fa-arrow-right hvr-icon learn-more-icon"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end of section resources /-->
{% endblock %}
