{% extends "base.html" %}
{% block content %}
<section id="score" class="container">
        <div class="row">
            <div class="col col-4 resource-container">
                <span style="size: 2em;">Please fill the name of your tree and click on the map to choose your location where you will plant your tree.</span>
                <br>
                <br>
                <br>
                <input type="text" name="tree_name" id="tree_name" placeholder="Tree name">
                <br>
                <button type="submit" class="" id="saveScoreBtn" onclick="sendDataToServer(event)">Send</button>
            </div>
            <div class="col col-8 resource-container">
                <div id="map">MAP</div>         
            </div>
        </div>
</section>
{% endblock %}
{% block css %}
<link rel="stylesheet" href="/static/css/maps.css">
{% endblock %}
{% block scripts %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<!-- Google maps API settings -->
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCzHJe9BybHG8wTjPr278K9WvIiq-DP5Nc&callback=initMapCreate">
</script>
<script src="static/js/maps.js"></script>
<script src="static/js/endgame.js"></script>
{% endblock %}
